body {
  display: grid;
  place-items: center;
  align-items: center;
  padding: 5rem;
  background-color: rgb(186, 176, 248);
}

#error {
  height: 2rem;
}
#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 0.1rem solid rgb(163, 163, 163); */
  padding: 1rem;
  box-shadow: 0.1rem 0.1rem 0.2rem rgb(114, 114, 114);
  border-radius: 0.5rem;
  background-color: rgb(240, 238, 238);
}
.input-div {
  margin: 1rem;
  width: 20rem;
}

label {
  color: rgb(45, 45, 53);
}
input {
  width: 90%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 0.1rem solid rgb(70, 70, 131);
  border-radius: 0.3rem;
}
button {
  padding: 0.3rem 1rem;
  letter-spacing: 0.1rem;
  background-color: rgb(70, 70, 131);
  border: 0.1rem solid rgb(70, 70, 131);
  color: white;
  margin-top: 2rem;
  border-radius: 0.3rem;
}
